@import "tailwindcss";

:root {
    --background: #9381ff;
    --foreground: #171717;
}

@theme {
    --color-primary: #9381ff;
    --color-purple: #b8b8ff;
    --color-text-light: #ffeedd;
    --color-text-dark: #ffd8be;
    --color-text-grey: #f8f7ff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: linear-gradient(135deg, #9381ff 0%, #b8b8ff 100%);
    background-attachment: fixed; /* Sørger for at bakgrunnen ikke ruller med innholdet */
    background-size: cover; /* Dekker hele skjermen */
    color: var(--foreground);
    font-family: Playfair Display, sans-serif;
    margin: 0; /* Fjern margin for å unngå visuelle hopp */
    min-height: 100vh; /* Sikrer at hele viewport-høyden dekkes */
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
